<!DOCTYPE html>
<html lang="en">
<head>
   
  <link rel="stylesheet" href="/st.css">

</head>
<body>

    <form action="/add-courses" method="post">
        <form>
      <div class="container">
        <label for="doctorname"><b>Doctor Name</b></label>
        <input type="text" placeholder="Enter Doctor Name" name="doctorname" required>
        <label for="coursename"><b>Course Name</b></label>
        <input type="text" placeholder="Enter Course Name" name="coursename" required>
        <label for="code"><b>Code</b></label>
        <input type="text" placeholder="Enter code" name="code" required>
        <label for="presubject"><b>pre subject</b></label>
        <input type="text" placeholder="Enter presubject" name="presubject" required>
        <label for="year"><b>Year : </b></label>
        <input type="text" placeholder="Enter Year" name="year" required>
        <br>
        <label for="department"><b>Department : </b></label>
        <input type = "radio" id = "semester1" name = "semester" value = "semester1" required>
        <label for = "semester1" >semester 1</label>
        <input type = "radio" id = "semester1" name = "semester" value = "semester2" required>
        <label for = "semester2" >semester 2</label>
        <br>
        <label for="department"><b>Department : </b></label>
        <input type = "radio" id = "IT" name = "department" value = "IT" required>
        <label for = "IT" >IT</label>
        <input type = "radio" id = "CS" name = "department" value = "CS" required>
        <label for = "CS" >CS</label>
    
        <input type = "radio" id = "IT" name = "department" value = "IT" required>
        <label for = "IT" >IT</label>

    
        <input type = "radio" id = "IS" name = "department" value = "IS" required>
        <label for = "IS" >IS</label>

        <input type = "radio" id = "AI" name = "department" value = "AI" required>
        <label for = "AI" >AI</label>

        <input type = "radio" id = "All" name = "department" value = "All" required>
        <label for = "All" >ALL</label>
        <br>
        <label for = "level"><b>Level : </b></label>
        <input type = "radio" id = "one" name = "level" value = "1" required>
        <label for = "one" >1</label>
    
        <input type = "radio" id = "two" name = "level" value = "2" required>
        <label for = "two" >2</label>

    
        <input type = "radio" id = "three" name = "level" value = "3" required>
        <label for = "three" >3</label>

        <input type = "radio" id = "four" name = "level" value = "4" required>
        <label for = "four" >4</label>

    
        <button type="submit">Login</button>
      
      </div>
      </form>
</body>
</html>