<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/display.css">
</head>
<body>

    <div class="container"> 
    <%for(let i = 0 ; i<courses.length ; i++){%> 
        <div class="subject">   
        <p>Course Name : <%=courses[i].name%></p>
        <p>Course Code : <%=courses[i].code%></p>
        <br><br><br>
        <button><a href="/delete-courses/<%=courses[i]._id %>">Delete</a></button> 
        <button>Update</button>
        </div>
    <%}%>
    
    </div>

</body>
</html>