<!DOCTYPE html>
<html>
<head>
  <title>Search User</title>
</head>
<body>
  <form action="/result" method="get">
    <input type="text" name="name" placeholder="Enter user name" required>
    <button type="submit">Search</button>
  </form>
</body>
</html>


