body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid black;
    box-sizing: border-box;
}

.subject{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid green;
    box-sizing: border-box;
}